.field_wrap {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0 1.2rem;
    margin-bottom: 1.6rem;
}

.field_wrap label {
    display: inline-block;
    margin-bottom: .4rem;
    font-weight: 500;
}

.field_wrap input {
    padding: .6rem 1rem;
    width: 100%;
    font-size: 1rem;
}

.field_wrap .input_wrap:nth-of-type(3n) {
    flex: 1 1 100%;
    padding-bottom: 1.6rem;
    padding-top: .8rem;
    border-bottom: 1px solid rgba(155, 155, 155, 0.4);
}

.input_wrap {
    flex: 1;
}