.gameform-count {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.gameform-count p {
    max-width: 100%;
    font-size: .8rem;
    opacity: 0.5;
}

.gameform-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}